/* CoverDeploy.module.css */

/* Estilos para la barra de desplazamiento horizontal */
.scrollContainer::-webkit-scrollbar {
    height: 8px; /* Altura de la barra de desplazamiento */
  }
  
  .scrollContainer::-webkit-scrollbar-track {
    background: transparent; /* Color de fondo de la pista */
    border-radius: 4px; /* Bordes redondeados */
  }
  
  .scrollContainer::-webkit-scrollbar-thumb {
    margin-top: 5px;
    background: #5800ab; /* Color del thumb (la barra que se mueve) */
    border-radius: 4px; /* Bordes redondeados */
  }
  
  .scrollContainer::-webkit-scrollbar-thumb:hover {
    background: #a855f7; /* Color del thumb al pasar el mouse */
  }