/* CoverDeploy.module.css */
.scrollContainer {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: #7928c9 #03001d;
  position: relative;
  cursor: grab;
  
  /* Estilos universales de scrollbar */
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #7928c9;
    border-radius: 10px;
    height: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color:  #9150d2;
  }

  /* Estilos específicos para móviles */
  @media (hover: none) and (pointer: coarse) {
    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #7928c9;
      border-radius: 10px;
    }
  }
}

/* Estado activo */
.scrollContainer:active {
  cursor: grabbing;
}

/* Optimizaciones de rendimiento */
.scrollContainer > div {
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* Asegurar visibilidad en iOS */
@supports (-webkit-touch-callout: none) {
  .scrollContainer {
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      height: 8px;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: #7928c9;
    }
  }
}