.rocHeader {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    position: relative;
  }
.rocNav {
    text-decoration: none;
    margin: auto;
    width: 48.5%;
}
.rocNav a {
  text-decoration: none;
  color: white;
  font-weight: 250;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.rocStartWhaterMark {
  margin-top: 1rem; 
  z-index: -8880; 
  left: 1rem;
  width: auto;
  height: 11rem;
  object-fit: cover;
  display: none;
}
.rocStartWhaterMark2 {
  margin-top: 1rem; 
  z-index: -8880; 
  left: 1rem;
  width: auto;
  height: 21rem;
  object-fit: cover;
}
.rocButton {
  margin-right: 1rem;
  width: 100%;
  color: white;
  background-color: #1F1F1F;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 450;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
}
.rocButton:active {
  transform: translateY(2px); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #605bfb, #171fc0 );
}
.rocButton:hover {
  background: linear-gradient(to bottom, #605bfb, #171fc0 );
}

@media (min-width: 600px) {
  .rocStartWhaterMark2 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

@media (min-width: 1200px) {
  .rocStartWhaterMark {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  .rocStartWhaterMark2 {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: none;
  }
}